:root {
    --clr-dark: #211951;
    --clr-light: #15F5BA;
    --clr-slate400: #94a3b8;
    --clr-slate600: #15F5BA;
    --clr-slate800: #1e293b;
    --clr-rose: #e11d48;
    --clr-indigo: #4f46e5;
  
    /* rose rgb(225, 29, 72) */
    /* indigo rgb(79, 70, 229) */
  
    /* sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
  }
  
  * {
    margin: 0;
    line-height: calc(1em + 0.5rem);
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  .light-mode {
    --clr-light: #836FFF;
    --clr-dark: #F0F3FF;
    --clr-slate400: #1e293b;
    --clr-slate600: #1e293b;
    --clr-slate800: #1e293b;
  }
  
  body {
    font-family: 'General Sans', sans-serif;
    padding-left: 1%;
    background-color: var(--clr-dark);
    color: var(--clr-light);
  }
  
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
    user-select: none;
  }
  
  button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
  }
  
  a {
    color: var(--clr-rose);
  }
  
  strong {
    color: var(--clr-indigo);
  }
  
  /* Scrollbar */
  body::-webkit-scrollbar {
    width: 5px;
  }
  
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--clr-rose);
    outline: 1px solid var(--clr-rose);
  }